extends ../includes/layout.pug
block content
    .mdl-grid
        .mdl-cell--3-col
        .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--6-col: form(method='post' action='' enctype='multipart/form-data')
            //- +textField({ parent: 'caption', name: 'hu', label: 'Felirat [Magyar]' })
            //- +textField({ parent: 'caption', name: 'en', label: 'Felirat [Angol]' })
            //- +textField({ parent: 'caption', name: 'cz', label: 'Felirat [Cseh]' })
            +fileField({ name: 'media', label: 'Média feltöltése (kép (.png, .svg, .jpg) vagy videó (.mp4))', multiple: true })
            +buttonField('Hozzáadás')
        .mdl-cell--3-col