.site-footer {
	position:relative;
	width:100%;
	background:url("../img/site-footer-bg.png") right bottom no-repeat
}
.site-footer a {
	text-decoration:none;
	transition:all 300ms ease-in-out
}
.site-footer .site-branding svg {
	width:12.5rem;
	height:3.875rem
}
.site-footer .site-branding .site-copyright {
	margin:1rem 0 0 0;
	font:0.75rem/1.125rem "Roboto", sans-serif;
	color:#b3b3b3
}
.site-footer .site-branding .site-copyright span {
	display:block
}
.site-footer .site-navigation .menu li {
	padding:0 0 0 2rem
}
.site-footer .site-navigation .menu li a {
	color:#005c80
}
.site-footer .site-navigation .menu li a:hover {
	color:#00adef
}
.site-footer .gdpr {
	text-align:center;
	width:100vh;
margin-left:calc(100vh*0.3)
}
.site-footer .gdpr a {
	margin:1rem;
	color:#005c80;
	white-space:pre;
	display:inline-block
}
.site-footer .gdpr a:hover {
	color:#00adef
}
@media only screen and (min-width: 769px) {
.site-footer {
	background-position:right bottom
}
.site-footer .site-branding {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	margin:auto 0;
	padding:2rem 4rem;
	width:12.5rem
}
.site-footer .iso-logos {
	display:-webkit-box;
	display:flex;
	-webkit-box-pack:end;
	justify-content:flex-end;
	margin:2.75rem 3rem 0 0;
	padding-bottom:2rem
}
.site-footer .iso-logos svg {
	display:block;
	margin-right:1rem;
	height:4rem;
	width:auto
}
.site-footer .iso-logos svg:last-child {
	margin:0
}
.site-footer .footer__navigation {
	-webkit-box-flex:1;
	flex-grow:1
}
.site-footer .site-navigation {
	box-sizing:border-box;
	margin-right:4rem;
	text-align:right
}
.site-footer .site-navigation .menu {
	margin-top:1.75rem
}
.site-footer .site-navigation .menu li {
	display:inline-block;
	padding:0 0 0 2rem
}
.site-footer .site-navigation.primary .menu a {
	font:normal 500 1.125rem/1.375rem "Roboto", sans-serif
}
.site-footer .site-navigation.secondary .menu a {
	font:normal 500 0.875rem/1rem "Roboto", sans-serif
}
}
@media only screen and (max-width: 768px) {
.site-footer {
	background-position:-4rem bottom;
	padding-bottom:17.125rem
}
.site-footer .gdpr {
	margin-left:0;
	width:auto;
	text-align:left;
	margin-top:-3rem
}
.site-footer .gdpr a {
	display:block;
	margin:0;
	padding-top:5px
}
.site-footer .site-branding {
	position:absolute;
	left:0;
	bottom:0;
	padding:1.5rem 1rem
}
.site-footer .site-branding svg {
	width:12.5rem;
	height:3.875rem
}
.site-footer .site-branding .site-copyright {
	margin:1rem 0 0 0;
	font:0.75rem/1.125rem "Roboto", sans-serif;
	color:#b3b3b3
}
.site-footer .site-branding .site-copyright span {
	display:block
}
.site-footer .iso-logos {
	position:absolute;
	bottom:11.125rem;
	left:0;
	right:0;
	display:-webkit-box;
	display:flex;
	-webkit-box-pack:justify;
	justify-content:space-between;
	padding:1.5rem 1rem;
	background-color:#f0f5fa
}
.site-footer .iso-logos svg {
	width:auto;
	height:3rem
}
.site-footer .site-navigation {
	background-color:#f0f5fa
}
.site-footer .site-navigation .menu {
	padding:1.5rem 1rem 0
}
.site-footer .site-navigation .menu li {
	display:block;
	padding:0 0 1.5rem 0;
	line-height:1.125rem
}
.site-footer .site-navigation .menu li a {
	color:#005c80;
	font-size:1rem
}
.site-footer .site-navigation.primary {
	display:none
}
}
.cta {
	display:inline-block;
	padding:0 2rem;
	border:0.0625rem solid #00adef;
	border-radius:0.25rem;
	height:3rem;
	box-sizing:border-box;
	background:#00adef;
	color:#fff;
	font-family:"Roboto", sans-serif;
	font-size:1.125rem;
	font-weight:500;
	text-decoration:none;
	text-align:center;
	line-height:3rem;
	transition:all .5s ease
}
.cta.white {
	border:0.0625rem solid #fff;
	background:#fff;
	color:#00adef
}
.cta.hollow {
	border:0.0625rem solid #00adef;
	background:transparent;
	color:#00adef
}
.cta.hollow.white {
	border:0.0625rem solid #fff;
	color:#fff
}
.cta.hollow:hover {
	background:#00adef;
	color:#fff
}
.tiles__content .mosaic__inner button.mosaic__link {
	border:none;
	width:100%;
	height:100%;
	cursor:pointer
}
.tiles {
	margin:0 auto
}
.tiles__title {
	font-family:"Titillium Web", Roboto, sans-serif;
	font-weight:bold;
	color:#1a1a1a
}
.tiles__content .mosaic__inner {
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%
}
.tiles__content .mosaic__bg {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat
}
.tiles__content .mosaic._clickable {
	z-index:1
}
.tiles__content .mosaic._clickable .mosaic_link {
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:block
}
.more-btn {
	margin:0 0 3.5rem;
	text-align:center
}
.tiles__content .mosaic_action .mosaic__title {
	margin:0 0 1rem 0;
	font-family:"Titillium Web", Roboto, sans-serif;
	font-weight:bold;
	color:#fff
}
.tiles__content .mosaic_action .mosaic__lead {
	font:normal 400 1.125rem/1.625rem "Roboto", sans-serif;
	color:#fff
}
.tiles__content .mosaic_large .mosaic__title {
	margin:0 0 1rem 0;
	font-family:"Titillium Web", Roboto, sans-serif;
	font-weight:bold;
	color:#fff
}
.tiles__content .mosaic_large .mosaic__lead {
	color:#fff
}
.tiles__content .mosaic_large .mosaic__actions a.btn-products {
	color:#fff
}
.tiles__content .mosaic_text h3 {
	margin:0 1rem 2rem 1rem;
	font:normal 700 1.625rem/2rem "Titillium Web", Roboto, sans-serif;
	color:#00adef
}
.tiles__content .mosaic-line {
	position:relative
}
.tiles__content .mosaic-line .mosaic_list-img .mosaic__bg {
	background-size:contain
}
.tiles__content .mosaic_news {
	z-index:1
}
.tiles__content .mosaic_news .mosaic__overlay {
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	right:0;
	background:transparent;
	transition:all .5s ease
}
.tiles__content .mosaic_news .mosaic__link {
	z-index:3;
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	right:0;
	display:block
}
.tiles__content .mosaic_news .mosaic__data {
	z-index:2;
	position:absolute;
	left:0;
	bottom:0;
	color:#fff
}
.tiles__content .mosaic_news .mosaic__date {
	font:normal 700 0.75rem/2.125rem "Roboto", sans-serif;
	color:#fff
}
.tiles__content .mosaic_news .mosaic__title {
	font-weight:bold;
	color:#fff;
	text-decoration:none
}
.tiles__content .mosaic_media {
	z-index:1;
	width:33.33%;
	height:16.25rem
}
.tiles__content .mosaic_media .mosaic__overlay {
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	right:0;
	background:transparent;
	transition:all .5s ease
}
.tiles__content .mosaic_media .mosaic__link {
	z-index:3;
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	right:0;
	display:block;
	background:transparent;
	transition:all .5s ease
}
.tiles__content .mosaic_media .mosaic__data {
	z-index:2;
	position:absolute;
	left:0;
	bottom:0;
	padding:1.5rem;
	color:#fff
}
.tiles__content .mosaic_media .mosaic__data .media__icons {
margin:0 0 .75rem 0
}
.tiles__content .mosaic_media .mosaic__data .media__icons li {
	font-size:1rem;
	display:inline-block;
margin-right:.75rem
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.video svg {
	width:1.125rem;
height:.806rem
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.video svg path {
	fill:#fff
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.photo svg {
	width:1.206rem;
	height:.9625
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.photo svg path {
	fill:#fff
}
.tiles__content .mosaic_media .mosaic__title {
	font:normal 700 1.125rem/1.625rem "Roboto", sans-serif;
	color:#fff;
	text-decoration:none
}
.tiles__content .mosaic_list a._hash {
	display:block;
	top:-4rem;
	padding-top:4rem;
	left:0;
	right:0;
	height:1px;
	visibility:hidden;
	pointer-events:none
}
.tiles__content .mosaic_list .mosaic__title {
	margin:0 0 2.125rem;
	font-family:"Titillium Web", Roboto, sans-serif;
	font-weight:bold;
	color:#005c80
}
.tiles__content .mosaic_list .mosaic__lead p {
	margin:0 0 1rem
}
.tiles__content .mosaic_list .mosaic__actions {
	margin:1.5rem 0 0 0
}
.tiles__content .mosaic_list .list {
	list-style-type:none
}
.tiles__content .mosaic_list .list li {
	position:relative;
	padding:0 2rem 1rem 2.5rem;
	font:normal 400 1.125rem/1.625rem "Roboto", sans-serif;
	color:#005c80
}
.tiles__content .mosaic_list .list li .title {
	font-weight:bold
}
.tiles__content .mosaic_list .list li:before {
	position:absolute;
	left:0;
top:.4rem;
	width:1rem;
	height:1rem;
	content:'';
	display:block;
	background-color:#00adef;
	border-radius:100%
}
@media only screen and (min-width: 769px) {
.tiles {
	margin:0 auto
}
.tiles__title {
	width:100%;
	margin:3rem 0;
	text-align:center;
	font:normal 700 2.5rem/3rem "Titillium Web", Roboto, sans-serif;
	color:#1a1a1a
}
.tiles__content {
	width:100%;
	margin:0 auto 1rem
}
.tiles__content .mosaic {
	display:inline-block;
padding:.75rem;
	box-sizing:border-box;
	vertical-align:top;
	font-size:0
}
.tiles__content .mosaic__inner {
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%
}
.tiles__content .mosaic__bg {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat
}
.tiles__content .mosaic._clickable {
	z-index:1
}
.tiles__content .mosaic._clickable .mosaic_link {
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:block
}
.tiles__content .mosaic_action {
	height:18rem;
	width:50%
}
.tiles__content .mosaic_action .mosaic__data {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-transform:translateY(100%);
	transform:translateY(100%);
	transition:all .5s ease;
	padding:1.3rem;
	background:rgba(0,173,239,0.75)
}
.tiles__content .mosaic_action .mosaic__title {
margin:0 0 .75rem 0;
	font:normal 700 1.875rem/2rem "Titillium Web", Roboto, sans-serif;
	color:#fff
}
.tiles__content .mosaic_action .mosaic__title_centered {
	position:absolute;
	top:50%;
	left:50%;
	max-width:50%;
	opacity:1;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	transition:all .5s ease;
	text-align:center
}
.tiles__content .mosaic_action .mosaic__lead {
	font:normal 400 1.125rem/1.5rem "Roboto", sans-serif;
	color:#fff
}
.tiles__content .mosaic_action .mosaic__actions {
	position:absolute;
	left:1.3rem;
	bottom:1.3rem;
	right:1.3rem
}
.tiles__content .mosaic_action .mosaic__actions a {
	margin-right:1.125rem
}
.tiles__content .mosaic_action:hover .mosaic__title_centered {
	opacity:0
}
.tiles__content .mosaic_action:hover .mosaic__data {
	-webkit-transform:translateY(0);
	transform:translateY(0)
}
.tiles__content .mosaic_large {
	display:block;
	height:16.25rem;
padding:.75rem .75rem 0
}
.tiles__content .mosaic_large .mosaic__data {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	padding:3rem 1.5rem
}
.tiles__content .mosaic_large .mosaic__title {
	margin:0 0 1rem 0;
	font:normal 700 1.875rem/2.125rem "Titillium Web", Roboto, sans-serif;
	color:#fff
}
.tiles__content .mosaic_large .mosaic__lead {
	font:normal 500 1.4rem/1.625rem "Roboto", sans-serif;
	color:#fff
}
.tiles__content .mosaic_large .mosaic__actions {
	position:absolute;
	left:1.5rem;
	bottom:1.5rem
}
.tiles__content .mosaic_large .mosaic__actions a {
	margin-right:1.125rem
}
.tiles__content .mosaic_large .mosaic__actions a.btn-products {
	color:#fff
}
.tiles__content .mosaic_text {
	width:50%
}
.tiles__content .mosaic_text h3 {
	text-align:center
}
.tiles__content .mosaic_text p {
	margin:0 0 1.25rem 0;
	font-size:1.125rem;
	line-height:1.625rem
}
.tiles__content .mosaic_img {
	width:33.33%;
	height:16.25rem
}
.tiles__content .mosaic-line {
	position:relative;
	display:-webkit-box;
	display:flex;
	-webkit-box-pack:justify;
	justify-content:space-between
}
.tiles__content .mosaic-line:nth-child(2n) {
	-webkit-box-orient:horizontal;
	-webkit-box-direction:reverse;
	flex-direction:row-reverse
}
.tiles__content .mosaic-line .mosaic_list-img {
	width:50%
}
.tiles__content .mosaic-line .mosaic_list-img .mosaic__bg {
	top:50%;
	left:0;
	background-size:contain;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%)
}
.tiles__content .mosaic_news {
	z-index:1;
	width:33.33%;
	height:17.75rem
}
.tiles__content .mosaic_news .mosaic__data {
	padding:1.5rem
}
.tiles__content .mosaic_news .mosaic__title {
	font-size:1.125rem
}
.tiles__content .mosaic_news:hover .mosaic__overlay {
	background:rgba(0,173,239,0.75)
}
.tiles__content .mosaic_media {
	z-index:1;
	width:33.33%;
	height:16.25rem
}
.tiles__content .mosaic_media .mosaic__overlay {
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	right:0;
	background:transparent;
	transition:all .5s ease
}
.tiles__content .mosaic_media .mosaic__link {
	z-index:3;
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	right:0;
	display:block;
	background:transparent;
	transition:all .5s ease
}
.tiles__content .mosaic_media .mosaic__data {
	z-index:2;
	position:absolute;
	left:0;
	bottom:0;
	padding:1.5rem;
	color:#fff
}
.tiles__content .mosaic_media .mosaic__data .media__icons {
margin:0 0 .75rem 0
}
.tiles__content .mosaic_media .mosaic__data .media__icons li {
	font-size:1rem;
	display:inline-block;
margin-right:.75rem
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.video svg {
	width:1.125rem;
height:.806rem
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.video svg path {
	fill:#fff
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.photo svg {
	width:1.206rem;
	height:.9625
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.photo svg path {
	fill:#fff
}
.tiles__content .mosaic_media .mosaic__title {
	font:normal 700 1.125rem/1.625rem "Roboto", sans-serif;
	color:#fff;
	text-decoration:none
}
.tiles__content .mosaic_media:hover .mosaic__overlay {
	background:rgba(0,173,239,0.75)
}
.tiles__content .mosaic_list {
	width:50%
}
.tiles__content .mosaic_list .mosaic__title {
	margin:0 0 2.125rem;
	font:normal 700 1.875rem/2.375rem "Titillium Web", Roboto, sans-serif;
	color:#005c80
}
.tiles__content .mosaic_list .mosaic__lead p {
	margin:0 0 1rem;
	font:normal 400 1.125rem/1.625rem "Roboto", sans-serif
}
.tiles__content .mosaic_list .mosaic__list {
	list-style-type:none
}
.tiles__content .mosaic_list .mosaic__list li {
	position:relative;
	padding:0 2rem 1rem 2.5rem;
	font:normal 400 1.125rem/1.625rem "Roboto", sans-serif;
	color:#005c80
}
.tiles__content .mosaic_list .mosaic__list li:before {
	position:absolute;
	left:0;
top:.4rem;
	width:1rem;
	height:1rem;
	content:'';
	display:block;
	background-color:#00adef;
	border-radius:100%
}
.tiles__content .mosaic_list .mosaic__actions {
	margin:1.5rem 0 0 0
}
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
.tiles__content .mosaic_action .mosaic__data {
padding:.75rem
}
.tiles__content .mosaic_action .mosaic__title {
	font-size:1.375rem;
	line-height:1.6rem
}
.tiles__content .mosaic_action .mosaic__lead {
	font-size:1rem;
	line-height:1.15rem
}
.tiles__content .mosaic_action .mosaic__actions {
left:.75rem;
bottom:.75rem;
right:.75rem
}
.tiles__content .mosaic_action .mosaic__actions a {
	width:44%;
	margin-right:0;
	padding:0;
	text-align:center;
	font-size:1rem
}
.tiles__content .mosaic_action .mosaic__actions a:first-child {
	margin-right:10%
}
}
@media only screen and (max-width: 768px) {
.tiles__title {
	margin:1.5rem 1rem;
	font-size:1.5rem;
	line-height:1.75rem
}
.tiles__content {
	margin:0 auto 3.5rem
}
.tiles__content .mosaic__inner {
	overflow:hidden;
	position:relative;
	width:100%;
	height:100%
}
.tiles__content .mosaic__bg {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat
}
.tiles__content .mosaic._clickable {
	z-index:1
}
.tiles__content .mosaic._clickable .mosaic_link {
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:block
}
.tiles__content .mosaic_action {
	margin-bottom:2rem
}
.tiles__content .mosaic_action .mosaic__bg {
	height:9.625rem
}
.tiles__content .mosaic_action .mosaic__data {
	padding:11rem 1rem 1rem;
	background-color:#00adef
}
.tiles__content .mosaic_action .mosaic__title {
	display:none
}
.tiles__content .mosaic_action .mosaic__title_centered {
	position:absolute;
	top:1rem;
	left:1rem;
	display:block;
	font-size:1.875rem;
	line-height:2.125rem
}
.tiles__content .mosaic_action .mosaic__lead {
	font:normal 400 1.125rem/1.625rem "Roboto", sans-serif;
	color:#fff
}
.tiles__content .mosaic_action .mosaic__actions {
	margin-top:1.5rem
}
.tiles__content .mosaic_action .mosaic__actions a {
	padding:0;
	width:48%;
	text-align:center
}
.tiles__content .mosaic_action .mosaic__actions a:first-child {
	margin-right:4%
}
.tiles__content .mosaic_large {
	padding:0
}
.tiles__content .mosaic_large .mosaic__data {
	position:relative;
	padding:1rem
}
.tiles__content .mosaic_large .mosaic__title {
	margin:0 0 1rem 0;
	font-size:1.75rem;
	line-height:2.125rem
}
.tiles__content .mosaic_large .mosaic__lead {
	font-size:1.125rem;
	line-height:1.625rem
}
.tiles__content .mosaic_large .mosaic__actions {
	margin-top:2rem
}
.tiles__content .mosaic_large .mosaic__actions a {
	padding:0;
	width:48%;
	text-align:center
}
.tiles__content .mosaic_large .mosaic__actions a:first-child {
	margin-right:4%
}
.tiles__content .mosaic_text p {
	margin:0 1rem 3rem 1rem;
	font-size:1rem;
	line-height:1.5rem
}
.tiles__content .mosaic_img {
	margin:0 auto 1rem;
	width:90%;
	width:calc(100vw - 2rem);
	height:16.25rem
}
.tiles__content .mosaic-line {
	position:relative
}
.tiles__content .mosaic-line .mosaic_list-img {
	margin:3rem 0 1.5rem;
	height:17.5rem
}
.tiles__content .mosaic_news {
	z-index:1;
	margin:1rem;
	height:12rem
}
.tiles__content .mosaic_news .mosaic__data {
	padding:1rem
}
.tiles__content .mosaic_news .mosaic__title {
	font-size:1.25rem
}
.tiles__content .mosaic_media {
	z-index:1;
	width:33.33%;
	height:16.25rem
}
.tiles__content .mosaic_media .mosaic__overlay {
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	right:0;
	background:transparent;
	transition:all .5s ease
}
.tiles__content .mosaic_media .mosaic__link {
	z-index:3;
	position:absolute;
	left:0;
	bottom:0;
	top:0;
	right:0;
	display:block;
	background:transparent;
	transition:all .5s ease
}
.tiles__content .mosaic_media .mosaic__data {
	z-index:2;
	position:absolute;
	left:0;
	bottom:0;
	padding:1.5rem;
	color:#fff
}
.tiles__content .mosaic_media .mosaic__data .media__icons {
margin:0 0 .75rem 0
}
.tiles__content .mosaic_media .mosaic__data .media__icons li {
	font-size:1rem;
	display:inline-block;
margin-right:.75rem
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.video svg {
	width:1.125rem;
height:.806rem
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.video svg path {
	fill:#fff
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.photo svg {
	width:1.206rem;
	height:.9625
}
.tiles__content .mosaic_media .mosaic__data .media__icons li.photo svg path {
	fill:#fff
}
.tiles__content .mosaic_media .mosaic__title {
	font:normal 700 1.125rem/1.625rem "Roboto", sans-serif;
	color:#fff;
	text-decoration:none
}
.tiles__content .mosaic_list .mosaic__title {
	margin:0 0 2.125rem;
	font-size:1.875rem;
	line-height:2.375rem
}
.tiles__content .mosaic_list .mosaic__lead p {
	margin:0 0 1rem;
	font-size:1rem;
	line-height:1.5rem
}
.tiles__content .mosaic_list .mosaic__actions {
	margin:1.5rem 0 0 0
}
.tiles__content .mosaic_list .mosaic__actions a {
	display:block
}
.tiles__content .mosaic_list .mosaic__actions a.dwnl-cat {
	border:1px solid #e6e6e6;
	margin:1rem 0 0 0;
	text-align:center
}
.tiles__content .mosaic_list .mosaic__actions a.dwnl-cat svg {
	left:1rem
}
.tiles__content .mosaic_list .list li {
	padding:0 2rem 1rem 2rem;
	font-size:1rem;
	line-height:1.5rem
}
}
.article h2 {
	font-weight:bold;
	font-family:"Titillium Web", Roboto, sans-serif;
	color:#1a1a1a
}
.article p {
	margin:0 0 1.25rem 0;
	font:normal 400 1.125rem/1.625rem "Roboto", sans-serif
}
@media only screen and (min-width: 769px) {
.article {
	margin:0 auto 4rem;
	max-width:75rem
}
.article h2 {
	margin:0 0 3rem 0;
	width:100%;
	-webkit-column-span:all;
	column-span:all;
	text-align:center;
	font-size:2.5rem;
	line-height:3rem;
	text-align:center
}
.article.column-2 {
	-webkit-column-count:2;
	column-count:2;
	-webkit-column-gap:4rem;
	column-gap:4rem
}
.article.flex {
	display:-webkit-box;
	display:flex;
	flex-wrap:wrap
}
.article.flex div.column {
	float:left;
	width:50%
}
.article.flex p {
	margin-left:10px
}
.article .list {
	-webkit-column-span:all;
	column-span:all
}
}
@media only screen and (max-width: 768px) {
.article h2 {
	margin:0 0 1.5rem 0;
	font-size:1.5rem;
	line-height:1.75rem
}
}
.list, .list ul {
	margin:2rem 0 0 0;
	list-style-type:none
}
.list li, .list ul li {
	position:relative;
	padding:0 2rem 1rem 2.5rem;
	font:normal 400 1.125rem/1.625rem "Roboto", sans-serif;
	color:#005c80
}
.list li:before, .list ul li:before {
	position:absolute;
	left:0;
top:.4rem;
	width:1rem;
	height:1rem;
	content:'';
	display:block;
	background-color:#00adef;
	border-radius:100%
}
.list li span, .list ul li span {
	display:inline-block;
padding-right:.3rem
}
.definition-list {
font-size:.875rem;
	line-height:1rem
}
.definition-list dt {
	font-weight:bold
}
.definition-list dt:after {
	content:":"
}
.definition-list dt.hide:after {
	content:''
}
.definition-list dd span {
	display:block;
margin:0 0 .3rem
}
@media only screen and (min-width: 769px) {
.definition-list dt {
	float:left;
	clear:left;
	width:7rem
}
.definition-list dd {
	margin:0 0 0 8rem;
padding:0 0 .8rem 0;
	word-wrap:break-word
}
.definition-list dd span {
	display:block;
margin:0 0 .3rem
}
}
@media only screen and (max-width: 768px) {
.definition-list {
	margin-bottom:1rem
}
.definition-list dt {
margin-top:.625rem
}
.definition-list dd span {
	display:block;
margin:0 0 .3rem
}
}
.catalog-banner {
	position:relative;
	margin:0 auto;
	height:16.25rem;
	background:url("../img/catalogue.jpg") center no-repeat;
	background-size:cover
}
.catalog-banner h3 {
	padding:1.25rem 6rem 1.25rem 1.25rem;
	font:normal 700 1.625rem/2rem "Roboto", sans-serif;
	color:#005c80
}
.catalog-banner .dwnl-cat {
	z-index:2;
	position:absolute;
	bottom:1.25rem;
	left:1.25rem
}
.catalog-banner .gradient {
	z-index:1;
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	height:4.875rem;
	background:linear-gradient(to bottom, rgba(0,92,128,0) 0%, #0c6486 100%, #0c6486 102%)
}
@media only screen and (min-width: 769px) {
.catalog-banner {
	width:24.5rem
}
}
.dwnl-cat {
	position:relative;
	display:inline-block;
	vertical-align:top;
	height:3rem;
	margin:0 0 0 1.5rem;
	padding:0 2rem;
	font:normal 400 1rem/3rem "Roboto", sans-serif;
	color:#005c80;
	text-decoration:none
}
.dwnl-cat svg {
	position:absolute;
	content:'';
	display:block;
	left:0;
	top:0;
	bottom:0;
	width:1.125rem;
	height:1.125rem;
	margin:auto 0
}
.dwnl-cat svg path {
	fill:#005c80
}
@media only screen and (min-width: 769px) {
.site-navigation.breadcrumb {
	border-bottom:1px solid #e6e6e6;
	box-sizing:border-box;
	padding:0 4.375rem;
	width:100%;
	height:3rem
}
.site-navigation.breadcrumb .menu {
	position:relative;
	transition:all 300ms ease-in-out
}
.site-navigation.breadcrumb .menu li {
	display:inline
}
.site-navigation.breadcrumb .menu li a {
	position:relative;
	display:inline-block;
	vertical-align:top;
	font:400 0.875rem/3rem "Roboto", sans-serif;
	color:#b3b3b3;
	text-decoration:none
}
.site-navigation.breadcrumb .menu li a:after {
	content:'>';
	display:inline-block;
padding:0 .3rem;
	color:#00adef
}
.site-navigation.breadcrumb .menu li a:hover {
	text-decoration:none
}
.site-navigation.breadcrumb .menu li:last-child a:after {
	content:''
}
}
@media only screen and (max-width: 768px) {
.site-navigation.breadcrumb {
	display:none
}
}
.site-navigation .menu a {
	padding-right:10px;
	padding-top:5px
}
.back {
	position:relative;
	display:block;
	width:17rem;
	height:5rem;
	color:#005c80;
	font-weight:bold;
	line-height:5rem;
	text-decoration:none
}
.back svg {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	margin:auto 0;
	width:2rem;
	height:1rem
}
.back svg line {
	stroke:#005c80
}
.back svg polygon {
	fill:#005c80
}
@media only screen and (min-width: 769px) {
.back {
	padding:0 0 0 5rem;
	font-size:1rem
}
.back._mobile-only {
	display:none
}
}
@media only screen and (max-width: 768px) {
.back {
	padding:0 0 0 3rem;
font-size:.875rem
}
}
.proposer .proposer__item {
	overflow:hidden;
	position:relative;
	background:transparent;
	transition:all .5s ease
}
.proposer .proposer__item:not(:empty) {
	border:1px solid #e6e6e6;
	border-radius:5px
}
.proposer .proposer__item:not(:empty):hover {
	background:#00adef
}
.proposer .proposer__item:not(:empty):hover .proposer__title {
	color:#005c80
}
.proposer .proposer__item:not(:empty):hover .proposer__lead {
	color:#fff
}
.proposer .proposer__item svg {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto 0;
	width:2rem;
	height:1rem
}
.proposer .proposer__item svg line {
	stroke:#e6e6e6
}
.proposer .proposer__item svg polygon {
	fill:#e6e6e6
}
.proposer .proposer__item p {
	font:700 1rem/1.375rem "Roboto", sans-serif;
	transition:all .5s ease
}
.proposer .proposer__item:first-child .proposer__lead, .proposer .proposer__item:first-child .proposer__title {
margin:.8rem 1.5rem .8rem 5rem
}
.proposer .proposer__item:first-child svg {
	left:1.5rem
}
.proposer .proposer__item:last-child .proposer__lead, .proposer .proposer__item:last-child .proposer__title {
margin:.8rem 5rem .8rem 1.5rem
}
.proposer .proposer__item:last-child svg {
	right:1.5rem;
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1)
}
.proposer .proposer__title {
	color:#00adef
}
.proposer .proposer__lead {
	transition:all .3s ease
}
.proposer .proposer__link {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0
}
@media only screen and (min-width: 769px) {
.proposer__inner {
	display:-webkit-box;
	display:flex;
	-webkit-box-pack:justify;
	justify-content:space-between
}
.proposer .proposer__item {
	-webkit-box-flex:0;
	flex:0 1 49%
}
}
@media only screen and (max-width: 768px) {
.proposer {
	margin-bottom:2rem;
	padding-bottom:1rem;
	width:100vw;
	overflow-x:scroll;
	clear:both
}
.proposer__inner {
	box-sizing:border-box;
	height:9.5rem;
	padding:0 1rem
}
.proposer__inner.narrow {
	width:100vw
}
.proposer__inner.wide {
	width:200vw
}
.proposer__item {
	box-sizing:border-box;
	width:90vw;
	width:calc(100vw - 2rem)
}
.proposer__item:first-child {
	float:left
}
.proposer__item:last-child {
	float:right
}
}
.gallery-opener {
	position:relative;
	width:100%
}
.gallery-opener img {
	display:block;
	width:100%;
	height:auto
}
.gallery-opener .gallery-link {
	z-index:1;
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	border:0;
	background:transparent;
	cursor:pointer
}
.gallery-opener .gallery-link:focus {
	outline:none
}
.gallery-opener .gallery-data>div {
	padding:0 1rem 0 2.5rem;
	height:2.5rem
}
.gallery-opener .gallery-data .instruction {
	padding:0 1rem;
	background:#005c80;
	color:#fff;
	font:700 0.875rem/2.5rem "Roboto", sans-serif
}
.gallery-opener .gallery-data .counter {
	background:#1a1a1a url("../img/icons/gallery.png") 0.5rem center no-repeat;
	color:#fff;
	font:700 0.875rem/2.5rem "Roboto", sans-serif
}
@media only screen and (min-width: 769px) {
.gallery-opener .gallery-data {
	position:absolute;
	bottom:0;
	right:0
}
.gallery-opener .gallery-data>div {
	display:inline-block;
	height:2.5rem
}
}
@media only screen and (max-width: 768px) {
.gallery-opener .gallery-data>div {
	height:2.5rem
}
.gallery-opener .gallery-data .instruction {
	position:absolute;
	left:0;
	bottom:0;
	right:0
}
.gallery-opener .gallery-data .counter {
	position:absolute;
	right:0;
	top:0
}
}
.latest .latest__title {
	margin:0 0 1.5rem 0;
	color:#00adef;
	font-size:1.5rem
}
.latest .latest__news li {
	padding-left:1.375rem;
	line-height:1.25rem
}
.latest .latest__news li:before {
height:.625rem;
width:.625rem
}
.latest .latest__news li a {
	color:#1a1a1a;
	font-weight:bold;
	font-size:1rem;
	text-decoration:none
}
.latest .latest__news li a:hover {
	color:#005c80
}
.ps__top .ps-form {
	overflow:hidden;
	margin:1.5rem 0;
	background:#00719d;
	color:#fff;
	font-weight:700
}
.ps__top .ps-form__title {
	font-size:1.875rem
}
.ps__top .ps-form__top {
padding:0 .75rem
}
.ps__top .ps-form__bottom {
	box-sizing:border-box;
	background:#005c80
}
.ps__top .ps-form__bottom .ps-results, .ps__top .ps-form__bottom .ps-actions {
	display:block
}
.ps__top .ps-form__bottom .ps-results span {
	line-height:2.5rem
}
.ps__top .ps-form__bottom .ps-results__label {
	font-size:1.25rem
}
.ps__top .ps-form__bottom .ps-results__results {
	font-size:1.25rem
}
.ps__top .ps-form__bottom .ps-actions .search {
	margin:0 0 0 1.5rem
}
.ps__top .ps-form__bottom .ps-actions .cta {
	height:2.5rem;
	font-size:1.125rem;
	line-height:2.5rem
}
.ps__top .ps-form-field__label, .ps__top .ps-form-field__select {
	display:block
}
.ps__top .ps-form-field__label {
margin:0 0 .75rem 0
}
.ps__top .ps-form-field__select {
	width:100%;
	height:2.5rem;
	font-family:inherit;
	font-size:1.25rem;
	line-height:2.5rem
}
.ps__content {
	margin:0 0 1.5rem 0
}
@media only screen and (min-width: 769px) {
.ps {
	padding:0 4rem
}
.ps__top .ps-form__title {
	margin:1.5rem
}
.ps__top .ps-form__top {
padding:0 .75rem;
	border-radius:0.25rem
}
.ps__top .ps-form__bottom {
	float:none;
	clear:both;
	overflow:hidden;
	padding:1.5rem;
	height:5.5rem
}
.ps__top .ps-form__bottom .ps-results {
	float:left;
	clear:left
}
.ps__top .ps-form__bottom .ps-results span {
	line-height:2.5rem
}
.ps__top .ps-form__bottom .ps-results__label {
	font-size:1.25rem
}
.ps__top .ps-form__bottom .ps-results__results {
	font-size:1.25rem
}
.ps__top .ps-form__bottom .ps-actions {
	float:right;
	clear:right
}
.ps__top .ps-form__bottom .ps-actions .search {
	margin:0 0 0 1.5rem
}
.ps__top .ps-form__bottom .ps-actions .cta {
	height:2.5rem;
	font-size:1.125rem;
	line-height:2.5rem
}
.ps__top .ps-form-field {
	display:inline-block;
	vertical-align:top;
	margin:0 0 1rem 0;
padding:0 .75rem;
	width:calc((100% - 4.5rem) / 3)
}
.ps__content {
	margin:0 0 1.5rem 0
}
}
@media only screen and (max-width: 768px) {
.ps__top .ps-form__title {
	margin:1rem
}
.ps__top .ps-form__top {
padding:0 .75rem
}
.ps__top .ps-form__bottom {
	padding:1rem
}
.ps__top .ps-form__bottom .ps-results span {
	line-height:2.5rem
}
.ps__top .ps-form__bottom .ps-results__label {
	font-size:1.25rem;
	font-weight:normal
}
.ps__top .ps-form__bottom .ps-results__results {
	font-size:1.25rem
}
.ps__top .ps-form__bottom .ps-actions .search {
	margin:0 0 0 4%
}
.ps__top .ps-form__bottom .ps-actions .cta {
	height:2.5rem;
	width:48%;
	font-size:1.125rem;
	line-height:2.5rem
}
.ps__top .ps-form-field {
	margin:0 0 1.5rem 0
}
.ps__top .ps-form-field__label, .ps__top .ps-form-field__select {
	display:block
}
.ps__top .ps-form-field__label {
margin:0 0 .75rem 0
}
.ps__top .ps-form-field__select {
	width:100%;
	height:2.5rem;
	font-family:inherit;
	font-size:1.25rem;
	line-height:2.5rem;
	border-radius:0.25rem
}
.ps__content {
	margin:0 0 1.5rem 0;
	width:100vw;
	overflow-x:scroll
}
}
.ps-table {
	width:100%;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc
}
.ps-table .ps-row {
	border-bottom:1px solid #ccc;
	width:100%
}
.ps-table .ps-row.header, .ps-table .ps-row.section-header {
	font-weight:700
}
.ps-table .ps-row.header {
	height:100px;
	background:#eee;
	font-size:1rem;
	line-height:1.5rem
}
.ps-table .ps-row.header .ps-tcell {
	padding:1rem 0.5rem;
	vertical-align:middle
}
.ps-table .ps-row.section-header {
padding:0 .6875rem;
	width:100%;
	box-sizing:border-box;
	background:#005c80;
	color:#fff;
	font-size:1.125rem;
	line-height:2.5rem
}
.ps-table .ps-row.section-header .ps-tcell {
	width:100%
}
.ps-table .ps-row .ps-tcell {
	border-right:1px solid #ccc;
	box-sizing:border-box;
	min-height:3.5rem;
	border-bottom:1px solid #ccc
}
.ps-table .ps-row .ps-tcell.side {
	position:relative;
	width:9%;
	background:#eee;
	font-weight:700;
	border-bottom:1px solid #ccc
}
.ps-table .ps-row .ps-tcell.side span {
	display:block;
	box-sizing:border-box;
	padding:1rem 0.5rem;
	width:100%;
	text-align:center
}
.ps-product-list .ps-product {
	position:relative;
	padding:0.5rem;
	height:2.5rem;
	font-size:0.875rem
}
.ps-product-list .ps-product__name {
	line-height:2.5rem
}
.ps-product-list .ps-product__download a {
	position:absolute;
	top:50%;
	right:0.5rem;
	display:block;
	width:1rem;
	height:1rem;
	font-size:0;
	text-decoration:none;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%)
}
.ps-product-list .ps-product__download a:after {
	content:'';
	display:block;
	border-radius:100%;
	width:1rem;
	height:1rem;
	background:#005c80 url('data:image/svg+xml;utf8,<svg fill="%23fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z" fill="%23fff"/></svg>') no-repeat center/1rem auto
}
.ps-product-list .ps-product[selected] {
	background:#00adef;
	color:#fff
}
.ps-product-list .ps-product[selected] .ps-product__download a :after  {
color:#1a1a1a
}
@media only screen and (min-width: 769px) {
.ps-table .ps-row .ps-tcell {
	width:13%
}
}
@media only screen and (max-width: 768px) {
.ps-table .ps-row .ps-tcell {
	width:9rem
}
}
@media only screen and (max-width: 768px) {
.accordion {
	overflow:hidden;
	position:relative;
	max-height:3rem;
	transition:all .5s
}
.accordion:before {
	content:'';
	position:absolute;
	top:1.75rem;
	right:1rem;
	display:block;
	width:0px;
	height:0px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #2f2f2f
}
.accordion._opened {
	max-height:100rem
}
.accordion._opened:before {
	border-bottom:0;
	border-top:5px solid #2f2f2f
}
}
body[galleryopen] {
	overflow:hidden;
	width:100%;
	height:100%
}
body[galleryopen] .gallery {
	opacity:1;
	visibility:visible
}
.gallery {
	opacity:0;
	visibility:hidden;
	position:fixed;
	top:0;
	left:0;
	z-index:110;
	display:block;
	width:100%;
	height:100%;
	transition:all 500ms ease-in-out
}
.gallery[ribbonopen] .gallery__header .gallery__header__actions .actions__button.button-toggle svg {
	fill:#3FA9F5
}
.gallery[ribbonopen] .gallery__header .gallery__header__ribbon {
	opacity:1;
	visibility:visible
}
.gallery__layer {
	opacity:0.75;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	display:block;
	width:100%;
	height:100%;
	background:#000
}
.gallery__header {
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:block;
	width:100%;
	height:3rem;
	background:#333;
	color:#fff;
	font-size:0
}
.gallery__header__counter, .gallery__header__title, .gallery__header__actions {
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box
}
.gallery__header__counter {
	padding:0 0 0 2rem;
	width:8rem;
	font-size:1.25rem;
	line-height:3rem
}
.gallery__header__title {
	padding:0 2rem;
	width:calc(100vw - 8rem - 8rem);
	font-size:1.25rem;
	line-height:3rem
}
.gallery__header__actions {
	padding:0 2rem 0 0;
	width:8rem;
	font-size:0
}
.gallery__header__actions .actions__button {
	display:inline-block;
	border:none;
	width:3rem;
	height:3rem;
	background:transparent;
	outline:0;
	cursor:pointer
}
.gallery__header__actions .actions__button svg {
	width:2rem;
	height:2rem
}
.gallery__header__ribbon {
	opacity:0;
	visibility:hidden;
	position:absolute;
	top:3rem;
	left:0;
	display:block;
	overflow:scroll;
	border-top:0.125rem solid rgba(255,255,255,0.25);
	width:100%;
	height:10rem;
	background:#333;
	transition:all 300ms ease-in-out
}
.gallery__header__ribbon div {
	display:inline-block;
	position:relative;
	overflow:hidden;
	width:10rem;
	height:10rem
}
.gallery__header__ribbon div img {
	position:absolute;
	top:50%;
	left:50%;
	display:block;
	min-width:10rem;
	max-width:20rem;
	min-height:10rem;
	max-height:20rem;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%)
}
.gallery__body {
	position:absolute;
	top:3rem;
	left:0;
	z-index:2;
	display:block;
	width:100%;
	height:calc(100vh - 3rem)
}
.gallery__body__ribbon {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	height:100%;
	transition:all 500ms ease-in-out;
	-webkit-transform:translateX(0);
	transform:translateX(0)
}
.gallery__body__ribbon div {
	position:absolute;
	top:0;
	width:100vw;
	height:100%
}
.gallery__body__ribbon div img {
	position:absolute;
	top:50%;
	left:50%;
	max-width:80vw;
	max-height:80%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%)
}
.gallery__body__button {
	position:absolute;
	top:50%;
	z-index:2;
	border:none;
	width:3rem;
	height:3rem;
	background:#333;
	outline:0;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	cursor:pointer
}
.gallery__body__button svg {
	width:2rem;
	height:2rem
}
.gallery__body__button.left-button {
	left:0
}
.gallery__body__button.right-button {
	right:0
}
.site-certificates .szechenyi {
	display:block;
	width:100%;
	height:100%;
	background:url("/assets/img/szechenyi.svg") no-repeat center center;
	background-size:contain
}
.site-content._home {
	background:url("../img/landing-page-bg.png") center 21.25rem no-repeat;
	background-size:contain
}
@media only screen and (max-width: 768px) {
.site-content._home .site-certificates {
	border-bottom:1px solid #e6e6e6;
	width:100%;
	height:8rem
}
.site-content._home .site-certificates .szechenyi {
	background-position-x:right
}
}
.site-content._products {
padding-top:.75rem
}
.site-content._products .mosaic_large {
	margin-bottom:3.5rem
}
.site-content._gallery {
padding:.75rem 0 0 0
}
@media only screen and (min-width: 769px) {
.site-content._news {
padding-top:.75rem
}
.site-content._news .tiles_top {
	position:relative
}
.site-content._news .tiles_top .mosaic:nth-child(1) {
	width:66.66%;
	height:35.625rem
}
.site-content._news .tiles_top .mosaic:nth-child(2) {
	position:absolute;
	top:0;
	right:0
}
.site-content._news .tiles_top .mosaic:nth-child(3) {
	position:absolute;
	bottom:0;
	right:0
}
}
.site-content._news-single .news__title {
	margin:0 0 1.5rem;
	font-weight:bold;
	font-family:"Titillium Web", Roboto, sans-serif
}
.site-content._news-single .date-cont {
	display:-webkit-box;
	display:flex;
	-webkit-box-pack:justify;
	justify-content:space-between
}
.site-content._news-single .date-cont .date {
	font:700 0.875rem/2.125 "Roboto", sans-serif;
	color:#00adef
}
.site-content._news-single img {
	margin:1.5rem 0;
	width:100%;
	height:auto
}
.site-content._news-single p {
	margin:0 0 2rem
}
.site-content._news-single p.lead {
	font-weight:700;
	color:#005c80
}
.site-content._news-single .catalog-banner .dwnl-cat {
	left:0;
bottom:.5rem;
	color:#fff
}
.site-content._news-single .catalog-banner .dwnl-cat svg path {
	fill:#fff
}
.site-content._news-single sub, .site-content._news-single sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
.site-content._news-single sup {
	top:-0.5em
}
.site-content._news-single sub {
	bottom:-0.25em
}
@media only screen and (min-width: 769px) {
.site-content._news-single {
	margin-top:2rem
}
.site-content._news-single .news__title {
	font-size:2.625rem;
	line-height:3.125rem
}
.site-content._news-single .proposer {
	margin-bottom:10rem
}
}
@media only screen and (max-width: 768px) {
.site-content._news-single .news__title {
	font-size:1.75rem;
	line-height:2.125rem
}
.site-content._news-single .proposer {
	display:none
}
.site-content._news-single .page-sidebar {
	margin-top:1rem
}
.site-content._news-single .latest__news {
	margin-bottom:1rem
}
}
.site-content._programs .page-content .program-list {
	width:100%;
	list-style-type:none
}
.site-content._programs .page-content .program-list li {
	display:block;
	width:100%
}
.site-content._programs .page-content .program-list .program-title {
	background-color:#00adef
}
.site-content._programs .page-content .program-list .program-title h2 {
	font:700 1rem/2.5rem "Roboto", sans-serif;
	text-transform:uppercase;
	color:#fff
}
.site-content._programs .page-content .program-list .program-year {
	background-color:#f2f2f2
}
.site-content._programs .page-content .program-list .program-year p {
	line-height:2rem
}
.site-content._programs .page-content .program-list .program-item {
	position:relative;
	border-bottom:1px solid #e6e6e6
}
.site-content._programs .page-content .program-list .program-item p {
	font:400 1rem/1.375rem "Roboto", sans-serif
}
.site-content._programs .page-sidebar .dwnl-cat {
	position:absolute;
bottom:.75rem;
	left:0;
	color:#fff
}
.site-content._programs .page-sidebar .dwnl-cat svg path {
	fill:#fff
}
@media only screen and (min-width: 769px) {
.site-content._programs {
	margin:1.5rem auto 0
}
.site-content._programs .page-content .program-list .program-title h2 {
	padding:0 1.5rem
}
.site-content._programs .page-content .program-list .program-year p {
	padding:0 1.5rem
}
.site-content._programs .page-content .program-list .program-item p {
	padding:1.625rem 1.5rem;
	width:50%
}
.site-content._programs .page-content .program-list .program-item .cta {
	position:absolute;
	right:1.5rem;
	top:0;
	bottom:0;
	height:2rem;
	line-height:2rem;
	margin:auto 0;
font-size:.875rem
}
}
@media only screen and (max-width: 768px) {
.site-content._programs {
	margin:1.125rem auto 0
}
.site-content._programs .page-content .program-list .program-title h2 {
	padding:0 1rem
}
.site-content._programs .page-content .program-list .program-year p {
	padding:0 1rem;
	font-size:1rem
}
.site-content._programs .page-content .program-list .program-item p {
	padding:1rem
}
.site-content._programs .page-content .program-list .program-item .cta {
	display:block;
	margin:0 1rem 1rem;
	text-align:center
}
}
.site-content._programs-single .page-title {
	margin:0 0 1.5rem;
	font:700 2.5rem/3.125rem "Roboto", sans-serif;
	color:#1a1a1a
}
.site-content._programs-single .type {
	margin:0 0 1.5rem;
	font:700 1rem/1.75rem "Roboto", sans-serif;
	color:#005c80;
	text-transform:uppercase
}
.site-content._programs-single h2 {
	margin:0 0 1.5rem;
	font:400 1.5rem/1.75rem "Roboto", sans-serif;
	color:#00adef
}
.site-content._programs-single .lead {
	margin:0 0 1.5rem;
	font:700 1.375rem/1.75rem "Roboto", sans-serif;
	color:#005c80
}
.site-content._programs-single .money-title {
	margin-top:1.5rem;
	font:700 1.375rem/2.75rem "Roboto", sans-serif
}
.site-content._programs-single .money-value {
	margin-bottom:2rem;
	font:400 2.5rem/3.375rem "Roboto", sans-serif;
	color:#00adef
}
.site-content._programs-single .info-title {
	font-weight:700
}
.site-content._programs-single .info-box {
	margin:2.25rem 0 1.5rem
}
.site-content._programs-single .project-img {
	box-sizing:border-box;
	overflow:hidden
}
.site-content._programs-single .project-img img {
	display:block;
	width:50%;
	margin:0 auto
}
@media only screen and (min-width: 769px) {
.site-content._programs-single {
	margin-top:2rem
}
.site-content._programs-single .page-title {
	font-size:2.625rem;
	line-height:3.125rem
}
.site-content._programs-single .back {
	margin-top:3.25rem
}
.site-content._programs-single .proposer {
	margin-bottom:2.5rem
}
.site-content._programs-single .project-img {
	margin:0 0 10rem;
	padding:0 4.375rem;
	width:100%;
	box-sizing:border-box;
	background:#f2f2f2
}
}
@media only screen and (max-width: 768px) {
.site-content._programs-single .page-title {
	font-size:1.75rem;
	line-height:2.125rem
}
.site-content._programs-single .project-img {
	margin:0 0 2.75rem;
	box-sizing:border-box
}
.site-content._programs-single .project-img img {
	display:block;
	height:auto;
	width:100%
}
}
.site-content._jobs {
	margin-top:2rem
}
.site-content._jobs .job {
	border-bottom:1px solid #e6e6e6;
	margin-bottom:2rem;
	padding:0 1.5rem
}
.site-content._jobs .job:last-child {
	border:none
}
.site-content._jobs .job .job__position {
	margin:0 0 1.5rem 0;
	color:#1a1a1a;
	font-family:"Titillium Web", Roboto, sans-serif;
	font-weight:bold
}
.site-content._jobs .job .job__title {
	margin:0 0 1rem 0;
	color:#00adef;
	font-family:"Roboto", sans-serif
}
.site-content._jobs .job .list li {
	padding:0 0 1rem 1rem;
	color:#1a1a1a
}
.site-content._jobs .job .list li:before {
top:.6rem;
width:.25rem;
height:.25rem
}
.site-content._jobs .job>p {
	margin:0 0 2rem 0
}
.site-content._jobs .job .deadline {
	margin:4.75rem 0 4rem;
	color:#ED1C24;
	font:400 1.375rem/2.125rem "Roboto", sans-serif
}
@media only screen and (min-width: 769px) {
.site-content._jobs .job .job__position {
	margin:0 0 2rem 0;
	font-size:2.375rem
}
.site-content._jobs .job .job__title {
	margin:0 0 1rem 0;
	font-size:1.375rem
}
.site-content._jobs .job .list {
	margin:0 0 2.5rem 0
}
.site-content._jobs .job .list li {
	font-size:1.125rem;
	line-height:1.625rem
}
}
@media only screen and (max-width: 768px) {
.site-content._jobs .job .job__position {
	margin:0 0 1.5rem 0;
	font-size:1.875rem;
	line-height:2.125rem
}
.site-content._jobs .job .job__title {
	margin:0 0 1.25rem 0;
	font-size:1.25rem
}
.site-content._jobs .job .list {
	margin:0 0 1rem 0
}
.site-content._jobs .job .list li {
	font-size:1rem;
	line-height:1.375rem
}
.site-content._jobs .job .deadline {
	font-size:1.125rem;
	line-height:1.875rem;
	margin:1.875rem 0
}
}
.site-content._contact .company__name {
margin:0 0 .5rem 0;
	font-size:2.5rem;
	font-weight:bold;
	font-family:"Titillium Web", Roboto, sans-serif
}
.site-content._contact .company__country {
	margin:0 0 1.5rem 0;
	color:#00adef;
	font-size:1.375rem;
	font-family:"Titillium Web", Roboto, sans-serif
}
.site-content._contact .definition-list {
	margin:0 0 1.5rem 0
}
.site-content._contact .company__departments .department-box {
	border-top:1px solid #e6e6e6
}
.site-content._contact .company__departments .department-box .department__name {
	color:#005c80;
	font-size:1.25rem
}
.site-content._contact .company__departments .department-box .department__contact {
	font-weight:bold;
	font-size:1rem
}
.site-content._contact .company__departments .department-box .department__data {
font-size:.875rem
}
.site-content._contact .company__departments .department-box .department__data dd {
padding:0 0 .6rem 0
}
.site-content._contact .company__subsidiaries .subsidiary-box {
	position:relative;
	border:1px solid #e6e6e6;
	border-radius:5px
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__name {
	margin:1.625rem 1.875rem 0 1.875rem;
	font:700 1.875rem/2.375rem "Titillium Web", Roboto, sans-serif
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__country {
	position:relative;
	padding-right:6rem;
	color:#00adef;
	font-size:1.375rem;
	line-height:2.125rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__country .subsidiary__map {
	position:absolute;
	top:0;
	right:0;
	color:#005c80;
	font-weight:bold;
font-size:.875rem;
	text-decoration:none
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__country .subsidiary__map:after {
	content:'›';
padding-left:.2rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__data {
font-size:.875rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__data dd {
	line-height:1.3rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact {
	border-top:1px solid #e6e6e6
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__title {
	color:#00adef;
	font-weight:bold
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__name {
	font-weight:bold
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__data {
font-size:.875rem
}
@media only screen and (min-width: 769px) {
.site-content._contact {
	padding-bottom:7rem
}
.site-content._contact .company__departments {
	display:-webkit-box;
	display:flex;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	justify-content:space-between
}
.site-content._contact .company__departments .department-box {
	margin:0 0 2rem 0;
	padding:0 0 2rem 0;
	width:33.33%
}
.site-content._contact .company__departments .department-box .department__name {
	margin:2rem 1.5rem 0 1.5rem
}
.site-content._contact .company__departments .department-box .department__contact {
	margin:2rem 1.5rem 0 1.5rem
}
.site-content._contact .company__departments .department-box .department__data {
margin:.6rem 1.5rem 0 1.5rem
}
.site-content._contact .company__departments .department-box .department__data dt {
	width:3.375rem
}
.site-content._contact .company__subsidiaries {
	display:-webkit-box;
	display:flex;
	-webkit-box-pack:justify;
	justify-content:space-between;
	margin:0 0 3rem 0
}
.site-content._contact .company__subsidiaries .subsidiary-box {
	padding-bottom:11rem;
	width:32%
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__name {
	margin:1.625rem 1.875rem 0 1.875rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__country {
	position:relative;
	margin:1.5rem 1.875rem 0 1.875rem;
	padding-right:6rem;
	color:#00adef;
	font-size:1.375rem;
	line-height:2.125rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__country .subsidiary__map {
	position:absolute;
	top:0;
	right:0;
	color:#005c80;
	font-weight:bold;
font-size:.875rem;
	text-decoration:none
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__country .subsidiary__map:after {
	content:'›';
padding-left:.2rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__data {
	margin:1.5rem 1.875rem 0 1.875rem;
font-size:.875rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__data dt {
	width:5rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__data dd {
	margin-left:5.3rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact {
	position:absolute;
bottom:.75rem;
	left:0;
	right:0
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__title {
	margin:1.625rem 1.875rem 0 1.875rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__name {
	margin:2rem 1.875rem 0 1.875rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__data {
	margin:1rem 1.875rem 0 1.875rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__data dt {
	width:5rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__data dd {
	margin-left:5.3rem
}
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
.site-content._contact .company__departments .department-box {
	width:50%
}
.site-content._contact .company__subsidiaries {
	flex-wrap:wrap
}
.site-content._contact .company__subsidiaries .subsidiary-box {
	width:49%;
	margin-bottom:1rem
}
}
@media only screen and (max-width: 768px) {
.site-content._contact {
	padding-top:11rem;
padding-top:calc(100vw * .45);
	background:url("../img/svg/map.svg") no-repeat;
	background-size:100vw auto;
	background-position:right top;
	position:relative
}
.site-content._contact .map-cont {
	background:none !important
}
.site-content._contact ._desc {
	display:none
}
.site-content._contact .definition-list {
	margin:0 0 1.5rem 0
}
.site-content._contact .company__departments {
	margin-bottom:2rem;
	border-bottom:1px solid #e6e6e6
}
.site-content._contact .company__departments .department-box {
padding:0 0 .75rem 0
}
.site-content._contact .company__departments .department-box .department__name {
	margin:1.5rem 1rem 0 1rem
}
.site-content._contact .company__departments .department-box .department__contact {
	margin:1rem 1rem 0 1rem
}
.site-content._contact .company__departments .department-box .department__data {
margin:.6rem 1rem 0 1rem
}
.site-content._contact .company__subsidiaries .subsidiary-box {
	margin-bottom:1rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__name {
	margin:1.2rem 1rem 0 1rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__country {
	position:relative;
	margin:1rem 1rem 0 1rem;
	padding-right:6rem;
	color:#00adef;
	font-size:1.375rem;
	line-height:2.125rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__country .subsidiary__map {
	position:absolute;
	top:0;
	right:0;
	color:#005c80;
	font-weight:bold;
font-size:.875rem;
	text-decoration:none
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__country .subsidiary__map:after {
	content:'›';
padding-left:.2rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__data {
	margin:1rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__title {
	margin:1rem 1rem 0 1rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__name {
	margin:1rem 1rem 0 1rem
}
.site-content._contact .company__subsidiaries .subsidiary-box .subsidiary__sale-contact .sale__data {
	margin:1rem;
font-size:.875rem
}
}
@media only screen and (min-width: 1460px) {
.site-content._contact .map-cont {
	background:url("../img/svg/map.svg") no-repeat;
	background-position:right bottom;
	background-size:auto 100%;
	overflow:hidden;
	position:relative
}
.site-content._contact .map-cont .company-cont {
	margin:2rem 0 1rem;
	width:24rem
}
.site-content._contact .map-cont .company-cont .definition-list {
	margin:0
}
.site-content._contact .map-cont ._desc {
	position:absolute;
	bottom:2rem;
	right:48rem
}
.site-content._contact .map-cont ._desc img {
	width:26px;
	height:26px;
	vertical-align:middle;
	padding:0 10px
}
.site-content._contact .map-cont ._desc p {
	color:#ED1C24;
	vertical-align:middle;
	font-size:0.7rem;
	font-weight:bold;
	padding:5px
}
}
@media only screen and (max-width: 1459px) {
.site-content._contact .map-cont {
	background:url("../img/svg/map.svg") no-repeat;
	background-position:right bottom;
	background-size:70% auto;
	overflow:hidden;
	position:relative
}
.site-content._contact .map-cont .company-cont {
	margin:2rem 0 1rem;
	width:24rem
}
.site-content._contact .map-cont .company-cont .definition-list {
	margin:0
}
.site-content._contact .map-cont ._desc {
	position:absolute;
	bottom:2rem;
	left:34vw
}
.site-content._contact .map-cont ._desc img {
	width:26px;
	height:26px;
	vertical-align:middle;
	padding:0 10px
}
.site-content._contact .map-cont ._desc p {
	color:#ED1C24;
	vertical-align:middle;
	font-size:0.7rem;
	font-weight:bold;
	padding:5px
}
}
.site-content._certificates .company-certificates .certificate__company-name {
	border-bottom:1px solid #e6e6e6;
	padding-bottom:1.5rem;
	margin-bottom:1.5rem;
	color:#00adef;
	font-size:1.375rem
}
.site-content._certificates .company-certificates .certificate__container {
	list-style:none
}
.site-content._certificates .company-certificates .certificate__container li {
	position:relative;
	display:block;
	padding:0 0 2rem 2rem;
	font-size:1.125rem;
	line-height:1.625rem
}
.site-content._certificates .company-certificates .certificate__container li a {
	text-decoration:none;
	color:#005c80
}
.site-content._certificates .company-certificates .certificate__container li a span {
	font-weight:bold
}
.site-content._certificates .company-certificates .certificate__container li svg {
	position:absolute;
	left:0;
	top:0;
	width:1rem;
	height:auto;
	display:inline-block;
padding-right:.5rem
}
.site-content._certificates .catalog-banner .dwnl-cat {
	left:0;
bottom:.5rem;
	color:#fff
}
.site-content._certificates .catalog-banner .dwnl-cat svg path {
	fill:#fff
}
@media only screen and (min-width: 769px) {
.site-content._certificates p {
	margin-bottom:1.5rem
}
.site-content._certificates .company-certificates {
	margin:3rem 0 0
}
.site-content._certificates .company-certificates .certificate__container._start {
	justify-content:space-around
}
.site-content._certificates .company-certificates .certificate__container a {
	width:30%
}
}
@media only screen and (max-width: 768px) {
.site-content._certificates p {
	margin-bottom:1rem
}
.site-content._certificates .company-certificates .certificate__company-name {
	margin:1.5rem 0
}
.site-content._certificates .company-certificates .certificate__container a {
	margin-bottom:1rem;
	width:48%
}
}
@media only screen and (min-width: 769px) {
.site-content._about .mosaic_large {
	margin-bottom:3.5rem;
	padding-top:0
}
}
@media only screen and (max-width: 768px) {
.site-content._about .hero-img {
	margin-bottom:3.5rem
}
.site-content._about .article {
	margin-bottom:3rem
}
}
.site-content._404 .page__title {
	margin:3rem 0 1rem;
	font-family:"Titillium Web", Roboto, sans-serif;
	font-size:3.75rem;
	line-height:4.5rem;
	text-align:center;
	color:#005c80
}
.site-content._404 .page__lead {
	margin:0 0 9rem 0;
	font-size:2rem;
	line-height:2.5rem;
	text-align:center
}

.iso-logos img {
	max-width: 100%;
	max-height: auto;
}