extends ../includes/layout.pug
block content
    .mdl-grid
        .mdl-cell--3-col
        .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--6-col: form(method='post' action='')
            +textField({ name: 'hu', parent: 'position', label: 'Pozíció megnevezése [Magyar]' })
            +textField({ name: 'en', parent: 'position', label: 'Pozíció megnevezése [Angol]' })
            +textField({ name: 'cz', parent: 'position', label: 'Pozíció megnevezése [Cseh]' })
            +textField({ name: 'de', parent: 'position', label: 'Pozíció megnevezése [Német]' })
            +textareaField({ name: 'hu', parent: 'tasks', label: 'Feladatok [Magyar]' })
            +textareaField({ name: 'en', parent: 'tasks', label: 'Feladatok [Angol]' })
            +textareaField({ name: 'cz', parent: 'tasks', label: 'Feladatok [Cseh]' })
            +textareaField({ name: 'de', parent: 'tasks', label: 'Feladatok [Német]' })
            +textareaField({ name: 'hu', parent: 'expectations', label: 'Elvárások [Magyar]' })
            +textareaField({ name: 'en', parent: 'expectations', label: 'Elvárások [Angol]' })
            +textareaField({ name: 'cz', parent: 'expectations', label: 'Elvárások [Cseh]' })
            +textareaField({ name: 'de', parent: 'expectations', label: 'Elvárások [Német]' })
            +textareaField({ name: 'hu', parent: 'info', label: 'Információ [Magyar]' })
            +textareaField({ name: 'en', parent: 'info', label: 'Információ [Angol]' })
            +textareaField({ name: 'cz', parent: 'info', label: 'Információ [Cseh]' })
            +textareaField({ name: 'de', parent: 'info', label: 'Információ [Német]' })
            +textField({ name: 'hu', parent: 'deadline', label: 'Jelentkezési határidő [Magyar]' })
            +textField({ name: 'en', parent: 'deadline', label: 'Jelentkezési határidő [Angol]' })
            +textField({ name: 'cz', parent: 'deadline', label: 'Jelentkezési határidő [Cseh]' })
            +textField({ name: 'de', parent: 'deadline', label: 'Jelentkezési határidő [Német]' })
            +textareaField({ name: 'hu', parent: 'contact', label: 'Kapcsolat [Magyar]' })
            +textareaField({ name: 'en', parent: 'contact', label: 'Kapcsolat [Angol]' })
            +textareaField({ name: 'cz', parent: 'contact', label: 'Kapcsolat [Cseh]' })
            +textareaField({ name: 'de', parent: 'contact', label: 'Kapcsolat [Német]' })
            +checkboxField({ name: 'published', label: 'Published', value: 'true', isChecked: document && document.published})
            if (document)
                input(type='hidden' name='id' value=document._id)
            +buttonField('Hozzáadás')
        .mdl-cell--3-col